
* {
  margin: 0;
  padding: 0;

}
body {
  background-color: #efefef;
}
.clip-svg {
  width: 0;
  height: 0;
}

.shadow {
  position: relative;
  width:300px;
  height: 338.9px;
  background: url("https://images.contentful.com/lxejsmju70ex/4RTiiatzXi6Y6GqCo8oa2k/1ede9da97f318799dba2b81698962610/ABS-hexShadowBlur.png") no-repeat center center;
  display: block;
  float: left;
}
.hexContainer {
  position: absolute;
  width: 280px;
  height: 316px;
  padding-right: 50px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background-color: #fff;
  text-align: center;
  backface-visibility: hidden;
  -webkit-clip-path: url("#hexContainer");
  clip-path: url("#hexContainer");
  -webkit-transform:translateZ(0);
  transition: all 300ms ease-in-out;

}
.hexThumb {
  display: block;
  position: relative;
  width: 250px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  background-color: #81c04e;
  text-decoration: none;
  color: #fff;
  font: 18px/1em "Arial";
  font-weight: bold;
  letter-spacing: .05em;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
  -webkit-clip-path: url("#hexThumb");
  clip-path: url("#hexThumb");
  -webkit-transform:translateZ(0);
  transition: all 300ms ease-in-out;

}

.old {
  /*-webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);
  clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);*/
  /*-webkit-clip-path: url("#ABS-hexagon");  required for Webkit/Blink browsers if you're using only inline SVG clipping paths, but not CSS clip-path
  clip-path: url("#ABS-hexagon");*/
}
.hexThumb p {
  position: absolute;
  top: 44%;
  width: 100%;
  text-align: center;
  z-index: 1000;
}
.hexThumb img {
  max-width: 250px;
  filter: grayscale(100%);
  opacity: .25;

}
.hexThumb:hover img {
  filter: grayscale(0%);
  opacity: 1;
  filter: brightness(0.7);

}
.hexThumb:hover p {
  opacity: 1;
}
.hexContainerWork {
  position: absolute;
  width: 280px;
  height: 316px;
  padding-right: 50px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background-color: #fff;
  text-align: center;
  backface-visibility: hidden;
  -webkit-clip-path: url("#hexContainer");
  clip-path: url("#hexContainer");
  -webkit-transform:translateZ(0);
  transition: all 300ms ease-in-out;

}
.hexThumbWork {
  display: block;
  position: relative;
  width: 250px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  background-color: #81c04e;
  text-decoration: none;
  color: #fff;
  font: 18px/1em "Arial";
  font-weight: bold;
  letter-spacing: .05em;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
  -webkit-clip-path: url("#hexThumb");
  clip-path: url("#hexThumb");
  -webkit-transform:translateZ(0);
  transition: all 300ms ease-in-out;

}
.hexThumbWork img {
  max-width: 250px;
  //filter: grayscale(100%);
  opacity: 1;

}
