<div class="page-container">
    <div data-navheader="" data-mainpage="mainPage" data-slide="slide" class="ng-isolate-scope">
        <div>
            <div id="bloc-0" class="bloc bgc-white l-bloc navBig">
                <div class="container bloc-sm">
                    <nav class="navbar navbar-default navbar-fixed-top navShadow" data-ng-class="slide.workNav ? 'navShadow' : 'noShadow' || slide.serviceNav ? 'navShadow' : 'noShadow' || slide.teamNav ? 'navShadow' : 'noShadow'" style="background-color: white;">
                        <div class="navbar-header">
                            <div class="navbar-brand" data-ui-sref="home" style="padding-left: 5vh; height: 180px;" href="/"><img src="img/ABS_logo.png" alt="logo" width="247" style="cursor: pointer; text-align: center; padding-top: 20px; padding-bottom: 20px;"></div>
                        </div>
                        <div class="navbar-collapse navbar-1 collapse hidden-md" style="box-shadow: rgba(0, 0, 0, 0.34902) 1.5px 2.598px 27px 0px;">
                            <ul class="site-navigation nav navbar-nav" style="border-top: none;">
                                <li style="padding-right: 2vh; text-align: center;">
                                    <div id="team" class="tk-industry customText nonSelectedBlue" data-ui-sref="team" data-ng-class="mainPage === 'team' ? 'selectedGreen' : 'nonSelectedBlue'" style="cursor: pointer; font-size: 18px; font-weight: normal; line-height: 21px; padding-top: 15px; padding-bottom: 15px;"
                                        href="/team">TEAM</div>
                        </li>
                        <li style="padding-right: 2vh; text-align: center;">
                            <div id="work" class="tk-industry customText nonSelectedBlue" data-ui-sref="work({service: defaultWorkService})" data-ng-click="setWorkService()" data-ng-class="mainPage === 'work' ? 'selectedGreen' : 'nonSelectedBlue'" style="cursor: pointer; font-size: 18px; font-weight: normal; line-height: 21px; padding-top: 15px; padding-bottom: 15px;"
                                href="/work">WORK</div>
                </li>
                <li style="padding-right: 2vh; text-align: center;">
                    <div id="services" class="tk-industry customText nonSelectedBlue" data-ng-click="setSelectedService()" data-ui-sref="services()" data-ng-class="mainPage === 'services' ? 'selectedGreen' : 'nonSelectedBlue'" style="cursor: pointer; font-size: 18px; font-weight: normal; line-height: 21px; padding-top: 15px; padding-bottom: 15px;"
                        href="/services">SERVICES</div>
            </li>
            <li style="padding-right: 2vh; text-align: center; padding-top: 10px; padding-bottom: 10px;">
                <a class="tk-industry blueContact" data-ui-sref="contact" data-ng-class="page === 'contact' ? 'greenContact' : 'blueContact'" style="color: white; line-height: 21px; font-weight: bold; margin: auto; width: 180px; text-align: center; padding-top: 5px; padding-bottom: 5px;"
                    href="/contact">CONTACT</a>
            </li>
            </ul>
        </div>
        </nav>
    </div>
</div>
<nav class="navbar navbar-default navSmall" style="z-index: 20; display: none; padding-top: 10px;">
    <div class="container-fluid">
        <div class="navbar-header"><button class="navbar-toggle" data-toggle="collapse" data-target="#toggleNav"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <div class="navbar-brand"
                data-ui-sref="home" href="/"><img src="img/ABS_logo.png" alt="logo" width="247" style="cursor: pointer;"></div>
    </div>
    <div class="collapse navbar-collapse" id="toggleNav" style="height: 100% !important;">
        <ul class="nav navbar-nav" style="box-shadow: rgba(0, 0, 0, 0.34902) 1.5px 2.598px 27px 0px inset; margin-top: -4px; height: 100vh; border-top-style: none;">
            <li class="dropdown" style="text-align: center;">
                <p data-ng-class="mainPage === 'team' ? 'active' : 'ltc-royal-blue-traditional'" data-ng-click="teamDropClosed = !teamDropClosed; workDropClosed = true; serviceDropClosed = true" style="cursor: pointer; font-size: 20px; line-height: 5px; padding-top: 15px; padding-bottom: 15px;"
                    class="ltc-royal-blue-traditional">TEAM</p>
            </li>
            <ul class="dropMenu ng-hide" data-ng-hide="teamDropClosed" style="background-color: rgb(175, 186, 181); margin-top: 80px; padding-left: 0px; text-align: center; width: 100%;">
                <li style="text-align: center; color: white; padding: 10px; font-size: 16px; list-style: none; width: 100%;">
                    <div data-ui-sref="team" style="cursor: pointer; border-bottom: 1px solid white; padding-top: 15px; padding-bottom: 20px; width: 300px; color: white;" href="/team">ARCHITECTURE</div>
                </li>
                <li style="text-align: center; color: white; padding: 10px; font-size: 16px; list-style: none; width: 100%;">
                    <div style="cursor: pointer; border-bottom: 1px solid white; padding-bottom: 20px; width: 300px; color: white;">
                        <div data-ui-sref="team({division: 'Forensic Consulting'})" href="/team">FORENSIC CONSULTING</div>
                    </div>
                </li>
                <li style="text-align: center; color: white; padding: 10px; font-size: 16px; list-style: none; width: 100%;">
                    <div data-ui-sref="team({division: 'Building Enclosure'})" style="cursor: pointer; border-bottom: 1px solid white; padding-bottom: 20px; width: 300px; color: white;" href="/team">BUILDING ENCLOSURE</div>
                </li>
                <li style="text-align: center; color: white; padding: 10px; font-size: 16px; list-style: none; width: 100%;">
                    <div data-ui-sref="team({division: 'Life Safety &amp; Human Factors'})" style="cursor: pointer; border-bottom: 1px solid white; padding-bottom: 20px; width: 300px; color: white;" href="/team">LIFE SAFETY &amp; HUMAN FACTORS</div>
                </li>
                <li style="text-align: center; color: white; padding: 10px; font-size: 16px; list-style: none; width: 100%;">
                    <div data-ui-sref="team({division: 'Engineering'})" style="cursor: pointer; padding-bottom: 20px; width: 300px; color: white;" href="/team">ENGINEERING</div>
                </li>
            </ul>
            <li class="dropdown" style="text-align: center;">
                <p data-ng-click="workDropClosed = !workDropClosed; teamDropClosed = true; serviceDropClosed = true" data-ng-class="mainPage === 'work' ? 'active' : 'ltc-royal-blue-traditional'" style="cursor: pointer; font-size: 20px; line-height: 5px; padding-top: 15px; padding-bottom: 15px;"
                    class="ltc-royal-blue-traditional">WORK</p>
            </li>
            <ul class="dropMenu ng-hide" data-ng-hide="workDropClosed" style="background-color: rgb(175, 186, 181); margin-top: 160px; padding-left: 0px; text-align: center; width: 100%;">
                <li style="text-align: center; color: white; padding: 10px; font-size: 16px; list-style: none; width: 100%;">
                    <!-- ngRepeat: serviceProvided in allWorkServicesProvided | limitTo:3 -->
                    <div data-ng-repeat="serviceProvided in allWorkServicesProvided | limitTo:3" data-ui-sref="work({service: serviceProvided})" style="border-bottom: 1px solid white; padding: 20px; width: 300px; color: white;" class="ng-binding ng-scope"
                        href="/work">ARCHITECTURE</div>
    <!-- end ngRepeat: serviceProvided in allWorkServicesProvided | limitTo:3 -->
    <div data-ng-repeat="serviceProvided in allWorkServicesProvided | limitTo:3" data-ui-sref="work({service: serviceProvided})" style="border-bottom: 1px solid white; padding: 20px; width: 300px; color: white;" class="ng-binding ng-scope" href="/work">FORENSIC CONSULTING</div>
    <!-- end ngRepeat: serviceProvided in allWorkServicesProvided | limitTo:3 -->
    <div data-ng-repeat="serviceProvided in allWorkServicesProvided | limitTo:3" data-ui-sref="work({service: serviceProvided})" style="border-bottom: 1px solid white; padding: 20px; width: 300px; color: white;" class="ng-binding ng-scope" href="/work">BUILDING ENCLOSURE</div>
    <!-- end ngRepeat: serviceProvided in allWorkServicesProvided | limitTo:3 -->
    </li>
    </ul>
    <li class="dropdown" style="text-align: center;">
        <p data-ng-click="serviceDropClosed = !serviceDropClosed; workDropClosed = true; teamDropClosed = true" data-ng-class="mainPage === 'services' ? 'active' : 'ltc-royal-blue-traditional'" style="cursor: pointer; font-size: 20px; line-height: 5px; padding-top: 15px; padding-bottom: 15px;"
            class="ltc-royal-blue-traditional">SERVICES</p>
    </li>
    <ul class="dropMenu ng-hide" data-ng-hide="serviceDropClosed" style="background-color: rgb(175, 186, 181); margin-top: 260px; padding-left: 0px; text-align: center; width: 100%;">
        <li style="text-align: center; color: white; padding: 10px; font-size: 16px; list-style: none; width: 100%;">
            <!-- ngRepeat: service in allServices -->
            <div data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="border-bottom: 1px solid white; text-align: center; padding: 20px; width: 300px; color: white;" class="ng-binding ng-scope" href="/services">ARCHITECTURE</div>
            <!-- end ngRepeat: service in allServices -->
            <div data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="border-bottom: 1px solid white; text-align: center; padding: 20px; width: 300px; color: white;" class="ng-binding ng-scope" href="/services">FORENSIC CONSULTING</div>
            <!-- end ngRepeat: service in allServices -->
            <div data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="border-bottom: 1px solid white; text-align: center; padding: 20px; width: 300px; color: white;" class="ng-binding ng-scope" href="/services">BUILDING ENCLOSURE</div>
            <!-- end ngRepeat: service in allServices -->
            <div data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="border-bottom: 1px solid white; text-align: center; padding: 20px; width: 300px; color: white;" class="ng-binding ng-scope" href="/services">LIFE SAFETY &amp; HUMAN FACTORS</div>
            <!-- end ngRepeat: service in allServices -->
            <div data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="border-bottom: 1px solid white; text-align: center; padding: 20px; width: 300px; color: white;" class="ng-binding ng-scope" href="/services">ENGINEERING</div>
            <!-- end ngRepeat: service in allServices -->
        </li>
    </ul>
    <li style="margin-right: 10px;">
        <a data-ui-sref="contact" data-ng-class="page === 'contact' ? 'greenContact' : 'blueContact'" style="color: white; line-height: 5px; font-weight: bold; margin: auto; width: 140px; text-align: center; padding-top: 15px; padding-bottom: 15px;" href="/contact"
            class="blueContact">CONTACT</a>
    </li>
    </ul>
    </div>
    </div>
</nav>
<div class="row subnav-navigation subnavbar slideNav slideNavUp" id="workNav" data-ng-class="slide.workNav ? 'slideNavDown' : 'slideNavUp'" style="background-color: rgb(197, 206, 202); overflow-x: scroll; overflow-y: hidden; white-space: nowrap;">
    <!-- ngRepeat: serviceProvided in allWorkServicesProvided -->
    <div class="subnavitem col-xs-3 col-md-3 ng-scope" data-ng-repeat="serviceProvided in allWorkServicesProvided" data-ng-click="setWorkService(serviceProvided)" style="border-left: none; border-right: 1px solid white; width: 33.3%; display: inline-block !important;">
        <div data-ui-sref="work({service: serviceProvided})" data-ng-class="selectedWorkService.fields.pageTitle === serviceProvided.fields.pageTitle ? 'greenNav' : 'clearNav'" style="border-right: 1px solid white;" class="ng-binding greenNav" href="/work">ARCHITECTURE</div>
    </div>
    <!-- end ngRepeat: serviceProvided in allWorkServicesProvided -->
    <div class="subnavitem col-xs-3 col-md-3 ng-scope" data-ng-repeat="serviceProvided in allWorkServicesProvided" data-ng-click="setWorkService(serviceProvided)" style="border-left: none; border-right: 1px solid white; width: 33.3%; display: inline-block !important;">
        <div data-ui-sref="work({service: serviceProvided})" data-ng-class="selectedWorkService.fields.pageTitle === serviceProvided.fields.pageTitle ? 'greenNav' : 'clearNav'" style="border-right: 1px solid white;" class="ng-binding clearNav" href="/work">FORENSIC CONSULTING</div>
    </div>
    <!-- end ngRepeat: serviceProvided in allWorkServicesProvided -->
    <div class="subnavitem col-xs-3 col-md-3 ng-scope" data-ng-repeat="serviceProvided in allWorkServicesProvided" data-ng-click="setWorkService(serviceProvided)" style="border-left: none; border-right: 1px solid white; width: 33.3%; display: inline-block !important;">
        <div data-ui-sref="work({service: serviceProvided})" data-ng-class="selectedWorkService.fields.pageTitle === serviceProvided.fields.pageTitle ? 'greenNav' : 'clearNav'" style="border-right: 1px solid white;" class="ng-binding clearNav" href="/work">BUILDING ENCLOSURE</div>
    </div>
    <!-- end ngRepeat: serviceProvided in allWorkServicesProvided -->
    <div class="subnavitem col-xs-3 col-md-3 ng-scope" data-ng-repeat="serviceProvided in allWorkServicesProvided" data-ng-click="setWorkService(serviceProvided)" style="border-left: none; border-right: 1px solid white; width: 33.3%; display: inline-block !important;">
        <div data-ui-sref="work({service: serviceProvided})" data-ng-class="selectedWorkService.fields.pageTitle === serviceProvided.fields.pageTitle ? 'greenNav' : 'clearNav'" style="border-right: 1px solid white;" class="ng-binding clearNav" href="/work">LIFE SAFETY &amp; HUMAN FACTORS</div>
    </div>
    <!-- end ngRepeat: serviceProvided in allWorkServicesProvided -->
    <div class="subnavitem col-xs-3 col-md-3 ng-scope" data-ng-repeat="serviceProvided in allWorkServicesProvided" data-ng-click="setWorkService(serviceProvided)" style="border-left: none; border-right: 1px solid white; width: 33.3%; display: inline-block !important;">
        <div data-ui-sref="work({service: serviceProvided})" data-ng-class="selectedWorkService.fields.pageTitle === serviceProvided.fields.pageTitle ? 'greenNav' : 'clearNav'" style="border-right: 1px solid white;" class="ng-binding clearNav" href="/work">ENGINEERING</div>
    </div>
    <!-- end ngRepeat: serviceProvided in allWorkServicesProvided -->
</div>
<div class="row subnav-navigation subnavbar slideNav slideNavUp" id="serviceNav" data-ng-class="slide.serviceNav ? 'slideNavDown' : 'slideNavUp'" style="background-color: rgb(197, 206, 202); overflow-x: scroll; overflow-y: hidden; white-space: nowrap;">
    <!-- ngRepeat: service in allServices -->
    <div class="subnavitem col-xs-3 col-md-3 ng-scope" data-ng-repeat="service in allServices" data-ng-click="setSelectedService(service)" style="border-left: none; border-right: 1px solid white; width: 20%; display: inline-block !important;">
        <div data-ui-sref="services({service: service})" data-ng-class="selectedService.fields.pageTitle === service.fields.pageTitle ? 'greenNav' : 'clearNav'" class="ng-binding clearNav" href="/services">ARCHITECTURE</div>
    </div>
    <!-- end ngRepeat: service in allServices -->
    <div class="subnavitem col-xs-3 col-md-3 ng-scope" data-ng-repeat="service in allServices" data-ng-click="setSelectedService(service)" style="border-left: none; border-right: 1px solid white; width: 20%; display: inline-block !important;">
        <div data-ui-sref="services({service: service})" data-ng-class="selectedService.fields.pageTitle === service.fields.pageTitle ? 'greenNav' : 'clearNav'" class="ng-binding clearNav" href="/services">FORENSIC CONSULTING</div>
    </div>
    <!-- end ngRepeat: service in allServices -->
    <div class="subnavitem col-xs-3 col-md-3 ng-scope" data-ng-repeat="service in allServices" data-ng-click="setSelectedService(service)" style="border-left: none; border-right: 1px solid white; width: 20%; display: inline-block !important;">
        <div data-ui-sref="services({service: service})" data-ng-class="selectedService.fields.pageTitle === service.fields.pageTitle ? 'greenNav' : 'clearNav'" class="ng-binding clearNav" href="/services">BUILDING ENCLOSURE</div>
    </div>
    <!-- end ngRepeat: service in allServices -->
    <div class="subnavitem col-xs-3 col-md-3 ng-scope" data-ng-repeat="service in allServices" data-ng-click="setSelectedService(service)" style="border-left: none; border-right: 1px solid white; width: 20%; display: inline-block !important;">
        <div data-ui-sref="services({service: service})" data-ng-class="selectedService.fields.pageTitle === service.fields.pageTitle ? 'greenNav' : 'clearNav'" class="ng-binding greenNav" href="/services">LIFE SAFETY &amp; HUMAN FACTORS</div>
    </div>
    <!-- end ngRepeat: service in allServices -->
    <div class="subnavitem col-xs-3 col-md-3 ng-scope" data-ng-repeat="service in allServices" data-ng-click="setSelectedService(service)" style="border-left: none; border-right: 1px solid white; width: 20%; display: inline-block !important;">
        <div data-ui-sref="services({service: service})" data-ng-class="selectedService.fields.pageTitle === service.fields.pageTitle ? 'greenNav' : 'clearNav'" class="ng-binding clearNav" href="/services">ENGINEERING</div>
    </div>
    <!-- end ngRepeat: service in allServices -->
</div>
<div class="row subnav-navigation subnavbar slideNav slideNavDown" id="teamNav" data-ng-class="slide.teamNav ? 'slideNavDown' : 'slideNavUp'" style="background-color: rgb(197, 206, 202); overflow-x: scroll; overflow-y: hidden; white-space: nowrap;">
    <div class="subnavitem col-xs-3 col-md-3" style="border-left: none; border-right: 1px solid white; width: 20%; display: inline-block !important;">
        <div data-ng-click="setDivision('Architecture')" data-ui-sref="team({division: 'Architecture'})" data-ng-class="headerDivision.current === 'ARCHITECTURE' ? 'greenNav' : 'clearNav'" style="border-right: 1px solid white;" href="/team" class="clearNav">ARCHITECTURE</div>
    </div>
    <div class="subnavitem col-xs-3 col-md-3" style="border-left: none; border-right: 1px solid white; width: 20%; display: inline-block !important;">
        <div data-ng-click="setDivision('Forensic Consulting')" data-ui-sref="team({division: 'Forensic Consulting'})" data-ng-class="headerDivision.current === 'Forensic Consulting' ? 'greenNav' : 'clearNav'" style="border-right: 1px solid white;" href="/team"
            class="clearNav">FORENSIC CONSULTING</div>
</div>
<div class="subnavitem col-xs-3 col-md-3" style="border-left: none; border-right: 1px solid white; width: 20%; display: inline-block !important;">
    <div data-ng-click="setDivision('Building Enclosure')" data-ui-sref="team({division: 'Building Enclosure'})" data-ng-class="headerDivision.current === 'Building Enclosure' ? 'greenNav' : 'clearNav'" style="border-right: 1px solid white;" href="/team"
        class="clearNav">BUILDING ENCLOSURE</div>
</div>
<div class="subnavitem col-xs-3 col-md-3" style="border-left: none; border-right: 1px solid white; width: 20%; display: inline-block !important;">
    <div data-ng-click="setDivision('Life Safety &amp; Human Factors')" data-ui-sref="team({division: 'Life Safety &amp; Human Factors'})" data-ng-class="headerDivision.current === 'Life Safety &amp; Human Factors' ? 'greenNav' : 'clearNav'" href="/team"
        class="clearNav">LIFE SAFETY &amp; HUMAN FACTORS</div>
</div>
<div class="subnavitem col-xs-3 col-md-3" style="border-left: none; border-right: 1px solid white; width: 20%; display: inline-block !important;">
    <div data-ng-click="setDivision('Engineering')" data-ui-sref="team({division: 'Engineering'})" data-ng-class="headerDivision.current === 'Engineering' ? 'greenNav' : 'clearNav'" href="/team" class="clearNav">ENGINEERING</div>
</div>
</div>
</div>
</div>
<div id="bloc-1" class="bloc bgc-white bg-Header-Placeholder d-bloc" style="max-height: 100vh;"><img class="honeycomb-left" src="img/honeycomb_pattern.png" style="max-height: 350px; z-index: 1; margin-left: -50px !important;"><img class="honeycomb-right" src="img/honeycomb.png" style="max-height: 540px; z-index: 1; margin-right: -50px !important;">
    <div
        class="row">
        <div class="col-sm-12 vertical-align" style="margin-top: -210px; text-transform: uppercase;">
            <h1 class="mg-md text-center vertical-align tc-white ng-binding">Team</h1></div>
    </div>
</div>
<div id="bloc-12" class="bloc bg-Halftone-Pattern tc-prussian-blue" style="background-color: rgb(246, 246, 246); box-shadow: rgba(0, 0, 0, 0.0470588) 0px -3px 8px 4px inset; height: 80%;">
    <div class="container bloc-lg">
        <div class="row" style="padding-bottom: 50px;">
            <div class="col-sm-10 col-sm-offset-1">
                <h3 class="tk-aaux-next mg-md text-left tc-prussian-blue" style="font-size: 24px; line-height: 28px;"><strong class="ng-binding">ABS is a dedicated team of professionals from diverse construction-related fields. </strong></h3>
                <p class="tk-aaux-next mg-md text-left tc-prussian-blue ng-binding">Our team includes architects, engineers, and human factors specialists. Fully credentialed and licensed in 22 states, our exceptional team provides attentive, responsive service in a consolidated approach covering the full range of building
                    sciences. </p>
            </div>
        </div>
        <div class="row voffset">
            <div class="honeyCombContainer" id="honeyCombContainer" style="position: relative; width: 1200px; display: block; margin: 0px auto;">
                <!-- ngIf: filteredMembers.length -->
                <div class="honeyCombRowOfFour ng-scope" data-ng-if="filteredMembers.length">
                    <!-- ngRepeat: member in filteredMembers[0] -->
                    <a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[0]">
                        <div class="shadow">
                            <div class="hexContainer">
                                <div class="hexThumb"><img data-ng-src="//images.contentful.com/lxejsmju70ex/1A4evXLRPeESOimkgWYGgm/8fc9407159ed0a87c8f871e56059236c/ABS-Team-Scott-Harvey__2x.jpg" src="//images.contentful.com/lxejsmju70ex/1A4evXLRPeESOimkgWYGgm/8fc9407159ed0a87c8f871e56059236c/ABS-Team-Scott-Harvey__2x.jpg">
                                    <p
                                        class="ng-binding">Scott A. Harvey</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end ngRepeat: member in filteredMembers[0] -->
                    <a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[0]">
                        <div class="shadow">
                            <div class="hexContainer">
                                <div class="hexThumb"><img data-ng-src="//images.contentful.com/lxejsmju70ex/1aJp9rxMk228KSSakkOiCE/6a1587ea58743883bb16336710b50969/ABS_Headshots_Alan-Campbell.jpg" src="//images.contentful.com/lxejsmju70ex/1aJp9rxMk228KSSakkOiCE/6a1587ea58743883bb16336710b50969/ABS_Headshots_Alan-Campbell.jpg">
                                    <p
                                        class="ng-binding">Alan O. Campbell</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end ngRepeat: member in filteredMembers[0] -->
                    <a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[0]">
                        <div class="shadow">
                            <div class="hexContainer">
                                <div class="hexThumb"><img data-ng-src="//images.contentful.com/lxejsmju70ex/3sT8YR0nziOkSmAsMMyoc6/d88746b6d0e057d23ae13e6cee523364/ABS_Headshots_Al-Schweickhardt.jpg" src="//images.contentful.com/lxejsmju70ex/3sT8YR0nziOkSmAsMMyoc6/d88746b6d0e057d23ae13e6cee523364/ABS_Headshots_Al-Schweickhardt.jpg">
                                    <p
                                        class="ng-binding">A. Schweickhardt</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end ngRepeat: member in filteredMembers[0] -->
                    <a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[0]">
                        <div class="shadow">
                            <div class="hexContainer">
                                <div class="hexThumb"><img data-ng-src="//images.contentful.com/lxejsmju70ex/30v4JspFnGOOCWsK8Yicci/314c938b6cd426d46222c40cdfa22f98/ABS_Headshots_Luis-Mariaca.jpg" src="//images.contentful.com/lxejsmju70ex/30v4JspFnGOOCWsK8Yicci/314c938b6cd426d46222c40cdfa22f98/ABS_Headshots_Luis-Mariaca.jpg">
                                    <p
                                        class="ng-binding">Luis Mariaca</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end ngRepeat: member in filteredMembers[0] -->
                </div>
                <!-- end ngIf: filteredMembers.length -->
                <!-- ngIf: filteredMembers.length > 4 -->
                <div class="honeyCombRowOfThree ng-scope" data-ng-if="filteredMembers.length > 4">
                    <!-- ngRepeat: member in filteredMembers[1] -->
                    <a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[1]">
                        <div class="shadow">
                            <div class="hexContainer">
                                <div class="hexThumb"><img data-ng-src="//images.contentful.com/lxejsmju70ex/66gidWwV3y44uG20GySiCW/a8b49df14cb17680aed5e06aa407a92d/ABS_Headshots_Steve-Moore.jpg" src="//images.contentful.com/lxejsmju70ex/66gidWwV3y44uG20GySiCW/a8b49df14cb17680aed5e06aa407a92d/ABS_Headshots_Steve-Moore.jpg">
                                    <p
                                        class="ng-binding">L. Steven Moore</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end ngRepeat: member in filteredMembers[1] -->
                    <a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[1]">
                        <div class="shadow">
                            <div class="hexContainer">
                                <div class="hexThumb"><img data-ng-src="//images.contentful.com/lxejsmju70ex/1cvMm0B9nAySsUesO8MiyY/5bfce97fb607c48c2d35ba521e5493f4/ABS_Headshots_Jason-Gregorie.jpg" src="//images.contentful.com/lxejsmju70ex/1cvMm0B9nAySsUesO8MiyY/5bfce97fb607c48c2d35ba521e5493f4/ABS_Headshots_Jason-Gregorie.jpg">
                                    <p
                                        class="ng-binding">Jason Gregorie</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end ngRepeat: member in filteredMembers[1] -->
                    <a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[1]">
                        <div class="shadow">
                            <div class="hexContainer">
                                <div class="hexThumb"><img data-ng-src="//images.contentful.com/lxejsmju70ex/39uWoa3gDuI8i8SYMYSeCs/4de7c9c0f4718b6d6cc750e7b2496d50/ABS_Headshots_Whitney-Okon.jpg" src="//images.contentful.com/lxejsmju70ex/39uWoa3gDuI8i8SYMYSeCs/4de7c9c0f4718b6d6cc750e7b2496d50/ABS_Headshots_Whitney-Okon.jpg">
                                    <p
                                        class="ng-binding">Whitney E. Schrum</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end ngRepeat: member in filteredMembers[1] -->
                </div>
                <!-- end ngIf: filteredMembers.length > 4 -->
                <!-- ngIf: filteredMembers.length > 7 -->
                <div class="honeyCombRowOfFour ng-scope" data-ng-if="filteredMembers.length > 7">
                    <!-- ngRepeat: member in filteredMembers[2] -->
                    <a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[2]">
                        <div class="shadow">
                            <div class="hexContainer">
                                <div class="hexThumb"><img data-ng-src="//images.contentful.com/lxejsmju70ex/1bFnLuFb0Iwo4E0yose0U6/2da8cc0fce162872e5dfd3021ec59ee3/ABS_Headshots_John-Greenan.jpg" src="//images.contentful.com/lxejsmju70ex/1bFnLuFb0Iwo4E0yose0U6/2da8cc0fce162872e5dfd3021ec59ee3/ABS_Headshots_John-Greenan.jpg">
                                    <p
                                        class="ng-binding">John Greenan</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end ngRepeat: member in filteredMembers[2] -->
                    <a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[2]">
                        <div class="shadow">
                            <div class="hexContainer">
                                <div class="hexThumb"><img data-ng-src="//images.contentful.com/lxejsmju70ex/4GKsFm7efeuwOGsUK6wcA0/468ae37939ad85ddff25c406051b0c9e/ABS_Headshots_Joseph-Shahid.jpg" src="//images.contentful.com/lxejsmju70ex/4GKsFm7efeuwOGsUK6wcA0/468ae37939ad85ddff25c406051b0c9e/ABS_Headshots_Joseph-Shahid.jpg">
                                    <p
                                        class="ng-binding">M. Joseph Shahid, Jr.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end ngRepeat: member in filteredMembers[2] -->
                    <a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[2]">
                        <div class="shadow">
                            <div class="hexContainer">
                                <div class="hexThumb"><img data-ng-src="//images.contentful.com/lxejsmju70ex/4TndxKC6sokeeseW8YqCiU/0e4358536bdc2000da8054b2f40328d8/ABS_Headshots_Eddie-Polk.jpg" src="//images.contentful.com/lxejsmju70ex/4TndxKC6sokeeseW8YqCiU/0e4358536bdc2000da8054b2f40328d8/ABS_Headshots_Eddie-Polk.jpg">
                                    <p
                                        class="ng-binding">Edward Polk</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end ngRepeat: member in filteredMembers[2] -->
                    <a class="honeyComb ng-scope" data-toggle="modal" data-target="#myModal" data-ng-click="setCurrentTeamMember(member)" data-ng-repeat="member in filteredMembers[2]">
                        <div class="shadow">
                            <div class="hexContainer">
                                <div class="hexThumb"><img data-ng-src="//images.contentful.com/lxejsmju70ex/IPtZ3TZcUmkGk6WO86OSs/14218583085039b3740f383d76a38e4a/ABS_Headshots_Bobby-Funcik.jpg" src="//images.contentful.com/lxejsmju70ex/IPtZ3TZcUmkGk6WO86OSs/14218583085039b3740f383d76a38e4a/ABS_Headshots_Bobby-Funcik.jpg">
                                    <p
                                        class="ng-binding">Bobby Funcik</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end ngRepeat: member in filteredMembers[2] -->
                </div>
                <!-- end ngIf: filteredMembers.length > 7 -->
                <!-- ngIf: filteredMembers.length > 11 -->
                <div class="honeyCombRowOfThree ng-scope" data-ng-if="filteredMembers.length > 11">
                    <!-- ngRepeat: member in filteredMembers[3] -->
                </div>
                <!-- end ngIf: filteredMembers.length > 11 -->
                <!-- ngIf: filteredMembers.length > 14 -->
                <!-- ngIf: filteredMembers.length > 18 -->
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog" style="margin-top: 150px; left: -6%;">
            <div class="modal-content" style="border-radius: 0px; height: 380px; width: 140%;">
                <div class="modal-body" style="padding: 0px;">
                    <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px; width: 360px;"><img class="img-responsive" alt="" style="max-height: 380px;"></div>
                    <div class="col-sm-6" style="padding-left: 30px; padding-right: 20px; height: 380px; width: 450px;"><i class="fa fa-times-circle" data-dismiss="modal" style="padding: 10px; margin-left: 410px;"></i>
                        <h4 class="tk-aaux-next" style="padding-top: 20px; text-transform: uppercase; padding-bottom: 5px;"><strong class="ng-binding"> ,</strong></h4>
                        <h4 style="padding-bottom: 5px;" class="ng-binding"></h4>
                        <p style="letter-spacing: -0.7px; line-height: 1.3em; padding-bottom: 15px;" class="ng-binding"></p>
                        <div style="display: block;">
                            <p>
                                <a class="tk-industry ng-binding" data-ng-href="mailto:" style="font-size: 16px; color: rgb(115, 181, 61); display: inline; text-decoration: underline; text-transform: uppercase; margin-right: 10px; letter-spacing: 0.1em;"
                                    href="mailto:">EMAIL </a>
                                    <nbsp> </nbsp>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-footermenu="" class="ng-isolate-scope">
    <div><a class="bloc-button btn btn-d scrollToTop" href="#top"><span class="fa fa-chevron-up"></span></a>
        <div class="bloc-group">
            <div id="bloc-16" class="bloc bloc-tile-3 bgc-white l-bloc">
                <div class="container bloc-md">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="mg-md" data-ui-sref="contact" style="cursor: pointer;" href="/contact">APPLIED BUILDING SCIENCES, INC. | CONTACT US</h6>
                            <div class="row" style="padding-top: 20px;">
                                <div class="col-sm-3">
                                    <h6 class="mg-md" data-ui-sref="home" style="cursor: pointer;" href="/">HOME</h6></div>
                                <div class="col-sm-3">
                                    <h6 class="mg-md" data-ui-sref="team" style="cursor: pointer;" href="/team">TEAM</h6></div>
                                <div class="col-sm-3">
                                    <h6 class="mg-md" data-ui-sref="work" style="cursor: pointer;" href="/work">WORK</h6>
                                    <!-- ngRepeat: serviceProvided in allWorkServicesProvided | limitTo:3 -->
                                    <h5 class="mg-md tk-aaux-next ng-binding ng-scope" data-ui-sref="work({service: serviceProvided})" data-ng-repeat="serviceProvided in allWorkServicesProvided | limitTo:3" style="cursor: pointer;" href="/work">BUILDING ENCLOSURE</h5>
                                    <!-- end ngRepeat: serviceProvided in allWorkServicesProvided | limitTo:3 -->
                                    <h5 class="mg-md tk-aaux-next ng-binding ng-scope" data-ui-sref="work({service: serviceProvided})" data-ng-repeat="serviceProvided in allWorkServicesProvided | limitTo:3" style="cursor: pointer;" href="/work">ARCHITECTURE</h5>
                                    <!-- end ngRepeat: serviceProvided in allWorkServicesProvided | limitTo:3 -->
                                    <h5 class="mg-md tk-aaux-next ng-binding ng-scope" data-ui-sref="work({service: serviceProvided})" data-ng-repeat="serviceProvided in allWorkServicesProvided | limitTo:3" style="cursor: pointer;" href="/work">ENGINEERING</h5>
                                    <!-- end ngRepeat: serviceProvided in allWorkServicesProvided | limitTo:3 -->
                                </div>
                                <div class="col-sm-3">
                                    <h6 class="mg-md" data-ui-sref="services" style="cursor: pointer;" href="/services">SERVICES</h6>
                                    <!-- ngRepeat: service in allServices -->
                                    <h5 class="mg-md tk-aaux-next ng-binding ng-scope" data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="cursor: pointer;" href="/services">LIFE SAFETY &amp; HUMAN FACTORS</h5>
                                    <!-- end ngRepeat: service in allServices -->
                                    <h5 class="mg-md tk-aaux-next ng-binding ng-scope" data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="cursor: pointer;" href="/services">ARCHITECTURE</h5>
                                    <!-- end ngRepeat: service in allServices -->
                                    <h5 class="mg-md tk-aaux-next ng-binding ng-scope" data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="cursor: pointer;" href="/services">FORENSIC CONSULTING</h5>
                                    <!-- end ngRepeat: service in allServices -->
                                    <h5 class="mg-md tk-aaux-next ng-binding ng-scope" data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="cursor: pointer;" href="/services">ENGINEERING</h5>
                                    <!-- end ngRepeat: service in allServices -->
                                    <h5 class="mg-md tk-aaux-next ng-binding ng-scope" data-ui-sref="services({service: service})" data-ng-repeat="service in allServices" style="cursor: pointer;" href="/services">BUILDING ENCLOSURE</h5>
                                    <!-- end ngRepeat: service in allServices -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="bloc-17" class="bloc l-bloc bgc-white bloc-tile-3">
                <div class="container bloc-md">
                    <div class="row">
                        <div class="col-sm-12"></div>
                    </div>
                </div>
            </div>
            <div id="bloc-18" class="bloc bloc-tile-3 bgc-white l-bloc">
                <div class="container bloc-md">
                    <div class="row">
                        <div class="col-sm-12"><img src="img/ABS_footer_logo.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
